@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloques {
    
    &__heading {
        @include m.heading;
        text-align: center;
        background-color: darken($color: v.$blanco, $amount: 5%);
        padding: 1rem;
        margin: 0;
        &::after {
            margin: 1rem auto;
        }
        
    }

    &__grid {
        @include m.tablet { 
            @include m.grid(2, 0rem);
            grid-auto-flow: dense;
        }
    }
}

.bloque {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include m.tablet { 
        height: 35rem;
    }
    @include m.desktopXXL { 
        height: 45rem;
    }
    
    &:nth-child(1) {
        background-color: darken($color: v.$primario, $amount: 10);
    }

    &:nth-child(2) {
        @include m.bgImage('../img/fotos/wh2_hor.webp');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    &:nth-child(3) {
        background-color: v.$secundario;
        margin-top: 2rem;
        @include m.tablet { 
            grid-column: 2 / 3;
            margin-top: 0;
        }
    }


    &:nth-child(4) {
        @include m.bgImage('../img/oficinas/whoficina_hor.webp')
    }

    &__contenido {
        max-width: 50rem;

        color: v.$blanco;
        padding: 1rem 0;
        @include m.tablet { 
            border-block: 1px solid v.$blanco;
        }
    }
    &__heading {
        font-size: 2.6rem;
        @include m.tablet { 
            font-size: 3rem;
        }
        span {
            font-size: 2rem;
            display: block;
            color: darken($color: v.$primario, $amount: 5%);
        }
    }
    
    &__contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2rem;
        @include m.tablet { 
            margin-top: 2rem;
            margin-bottom: 0;
        }
    }
    &__comunicacion {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: v.$blanco;
        // padding-bottom: 2rem ;
        @include m.desktop { 
            font-size: 1.4rem;
        }
        span {
            font-weight: 700;
        }
    }
    &__logos {
        // padding-left: 1rem;
        display: flex;
        a {
            margin-left: 2rem;
            width: max-content;
            max-height: 3.5rem;
            transition-property: scale;
            transition-duration: .2s;

            &:hover {
                scale: 1.2;
            }
        }
        svg {
            @include m.tablet { 
                height: 3.5rem;
            }
        }
    }
}



