@use 'base/variables' as v;
@use 'base/mixins' as m;

.trabajar {
    &__heading {
        @include m.heading;
        text-align: center;
        &::after {
            margin: 1rem auto;
        }
    }
    
    &__grid {
        @include m.tablet { 
            @include m.grid(3, 2rem);
            margin-top: 2rem;
        }
    }

    &__bloque {
        text-align: center;
        border-bottom: 1px solid v.$gris;
        &:last-of-type {
            border-bottom: none;
        }
        
        @include m.tablet { 
            border: none;
        }
    }
    &__imagen {
        margin: 0 auto;
    }
}