@use 'base/variables' as v;
@use 'base/mixins' as m;


.container {
    @include m.grid(1, 2rem);

    @include m.tablet { 
        @include m.grid(2, 2rem);
    }
}

.carousel {
    grid-row: 2 / 3;
    max-height: 45rem;
    @include m.tablet { 
        grid-row: 1 / 2;
    }
}

.slide {
    max-width: 100%;
    overflow: hidden;
    img {
        max-width: 100%;
        max-height: 45rem;
        object-fit: contain;
    }
}

.info {
    /* La información ocupa toda la columna derecha */
    padding: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
    
    &__heading {
        @include m.heading;
    }
    &__texto {
        font-family: v.$fuenteText;
    }
}




