@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    @include m.desktop { 
        flex-direction: column;
        top: 50%;
        right: 3rem;
        bottom: unset;
        left: unset;
        transform: translateY(-50%);
    }




    &__button {
        display: inline-block;
        margin: 4px;
        padding: 0.8rem;
        background-color: transparentize($color: v.$blanco, $amount: 0.5);
        border-radius: 50%;
        transition: background-color 0.3s;
        border: 1.5px solid v.$primario;
        @include m.tablet { 
            padding: 1rem;
        }

        img {
            width: 3rem;
            height: 3rem;
            @include m.tablet { 
                width: 3.5rem;
                height: 3.5rem;   
            }
        }

        &:hover {
            background-color: v.$primario;
        }

        &:nth-child(2) {
            display: none;
            @include m.tablet { 
                display: flex;
            }
        }
    }
}
