@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-image: linear-gradient( to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1) 100% ), url(../img/whheader2.jpg);
    padding: 2rem 0;
    background-size: cover;
        background-position: center;
        padding: 3rem 0;
        position: relative;
    @include m.tablet { 
        padding-top: 5rem;
    }

    &__grid {
        @include m.tablet { 
            @include m.grid(3, 3rem)
        }
    }
    &__heading {
        color: v.$blanco;
        font-size: 2rem;
        text-transform: uppercase;
        &:last-of-type {
            margin-top: 4rem;
            @include m.tablet { 
                margin-top: 0;
            }
        }
    }
    &__texto {
        color: v.$blanco;
        max-width: 85%;
        font-size: 1.4rem;
        margin-bottom: 2rem;
        @include m.tablet { 
            margin-bottom: 4rem;
        }
    }
    &__navegacion {
        display: flex;
        flex-direction: column;
        padding: 0;
        max-width: fit-content;
    }
    &__enlace {
        color: v.$blanco;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        max-width: 100%;
        padding: 1rem 0;
        transition: all .3s ease;
        @include m.tablet { 
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &:hover {
            color: v.$negro;
            background-color: v.$blanco;
        }
    }
    &__copyright {
        background-color: v.$negro;
        text-align: center;
        padding: 0.5rem;
        margin: 0;
        color: v.$blanco;
    }
    &__map {
        max-width: 100%;
        padding-bottom: 2rem;
        @include m.desktopXXL { 
            width: 450px;
            height: 300px;
        }
    }
    &__img {
        width: 60%;
        margin: 0 auto;
        @include m.tablet { 
            padding-left: 10rem;
            width: 100%;
        }
    }


    @include m.tablet { 
            
    }
}