@use 'base/variables' as v;
@use 'base/mixins' as m;

.modelos {
    margin: 5rem auto;
    &__grid {
        @include m.grid(2, 1rem);
        justify-items: center;
        align-items: center;
        @include m.tablet { 
            @include m.grid(3, 2rem); 
            width: 85%;
            margin: 0 auto;
        }
    }
}

.modelo {
    &__presentacion {
        background-color: darken($color: v.$primario, $amount: 5);
        text-align: center;
        padding: 2rem;
        @include m.tablet { 
            background-color: lighten($color: v.$primario, $amount: 5);
        }
        

        &:nth-child(2) {
            
            @include m.tablet { 
                grid-column: 3 / 4;
            }
        }

        &:last-child {
            grid-column: 1 / 3;
            background-color: lighten($color: v.$primario, $amount: 10);
            @include m.tablet { 
                grid-row: 1 / 2;
                grid-column: 2  / 3;
                background-color: darken($color: v.$primario, $amount: 5);
            }

            
        }
    }

    &__heading {
        color: v.$blanco;
        font-size: 2rem;
        @include m.tablet { 
            font-size: 2.8rem;
        }
    }

    &__texto {
        color: v.$blanco;
        font-size: 1.4rem;
        font-weight: 700;
        @include m.tablet { 
            font-size: 1.6rem;
        }
    }
}